/*importing custom fonts*/
@font-face{
    font-family:BarlowRegular;
    src: url(font/Barlow-Regular.otf);
}
@font-face{
    font-family:BarlowLight;
    src:url(font/Barlow-Light.otf)
}

/*main code*/
body,html{
    display:flex;
    justify-content:center;
    align-items:center;
    font-size:16px;
    width:100vw;
    height:100svh;
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family:BarlowRegular,sans-serif;
    background-color:#EFF6FF;
}

/*the entire container*/
.page-container{
    width:70%;
    min-height: 600px;
    min-width:400px;
    /* flex-wrap:wrap; */
    display:flex;
    flex-direction:row;
    box-shadow:0 0 8px 8px rgba(0, 0, 0, 0.137);
}

.page-container > div{
    flex:1;
}

/*left side of the page-container*/
.aside-image{
    position:relative;
    background-image:url(images/aside-background-image.jpg);
    background-size:cover;
}

.logo-wrapper{
    max-width:10px;
    position:absolute;
    left:2em;
    top:2em;
}  
 
/*right side of the page-container*/
.account-registration-container{
    height:100;
    padding-right:0.5rem;
    padding-left:0.5em;
    display:flex;
    justify-content:center;
    align-items:center;
    flex:1;
    background-color:white;
    color:black;
}

/*Non-visual container*/
.registration-info-container{
    padding:0.5em;
    width:75%;
    min-height:480px;
    display:flex;
    flex-direction:column;
    gap:1.5rem; 
    position:relative;
}

.registration-info-container p{
    font-size: 0.6rem;
    font-size: clamp(0.6rem, 0.5399999999999999rem + 0.30000000000000004vw, 0.9rem);
    color:#96A5B1;
}

.registration-info-container h1{
    font-family:BarlowLight;
    font-size: 0.8rem;
    font-size: clamp(0.8rem, 0.7100000000000001rem + 0.44999999999999996vw, 1.25rem);
    color:#2A4A5C;
}

/*Registration with apps(Facebook or LinkedIn)*/
.registration-with-apps{
    display:flex;
    justify-content:space-between;
    gap:1em;
}

/*Registration with apps buttons*/
button{
    flex:1;
    color:white;
    padding:1em 3em;
    position:relative;
    border:none;
    font-size: 0.5rem;
    font-size: clamp(0.5rem, 0.44rem + 0.30000000000000004vw, 0.8rem); 
    font-family:BarlowRegular, sans-serif; 
}

.registration-with-apps button:last-child span{
    letter-spacing:0.02455em;/*The content-size of buttons differ,so I wanted to make them equal*/
}   

button:hover{
    cursor:pointer;
}

button img{
    position:absolute;
    top:0.7em;
    left:0.5em;
}

.facebook-btn{
    background-color:#255A9B;
}

.Linkedin-btn{
    background-color: #0076B6;
}

/*divider*/
.divider{
    display:flex;
    justify-content:center;
}

.divider span{
    margin-left:10px;
    margin-right:10px;
    font-size: 0.6rem;
    font-size: clamp(0.6rem, 0.5599999999999999rem + 0.2000000000000001vw, 0.8rem);
    color: rgba(0, 0, 0, 0.473);
}

.divider hr{
    flex:1;/*so that it is seen*/
    border-top:1px solid rgba(0, 0, 0, 0.148);
}

/*Another method of account-registration, form*/
.registration-form-container{
    position:relative;
    flex:1;/*Making sure the registration-form-container takes up the remaining available height*/
}

.registration-form{
    width:100%;
}

/*The input fields where you enter your personal info*/
.input-fields{
    display:flex;
    justify-content:space-between;
    flex-wrap:nowrap;
    gap:1em;
}

.input-fields div{
    position:relative;
    flex:1;
    display:flex;
    justify-content:row;
}

.input-fields input{
    flex:1;
    outline:none;
    padding-top:1.3em;
    padding-bottom:1em;
    padding-left:.6em;
    border:none;
    box-shadow:0 0 1.2px black;
    font-size: 0.5rem;
    font-size: clamp(0.5rem, 0.44rem + 0.30000000000000004vw, 0.8rem);
}

.input-fields input:focus{
    padding-left:0.53em; /*Changed padding left so that the whitespace before text stays the same when the border is applied*/
    border-left:0.1em solid #3698FB;
}

.input-fields label{
    font-size: 0.5rem;
    font-size: clamp(0.5rem, 0.44rem + 0.30000000000000004vw, 0.8rem);
    position:absolute;
    color:#96A5B1;
    left:0.4em;
    top:0.1em;
}

/*The part that begins with the header "What type of investor you are"*/
/* .investor-type-container{
    margin-top:2rem;
} */

.investor-type-container, .investor-type-radio{
    width:100%;
}

/*Visually hiding the initial radio button to make a custom one*/
.investor-type-radio input{
    width:1px;
    height:1px;
    overflow:hidden;
    clip-path:inset(50%);
}

.investor-type-radio label{
    padding-left:0.4em;
    position:relative;
}

/*Custom radio buttons*/
.investor-type-radio #custom-radio{
    position:absolute;
    left:0;
    top:5.5px;
    width:10px;
    height:10px;
    border:0.5px solid rgba(0, 0, 0, 0.271);
    border-radius:50%;
    background-color: white;
}

/*When the custom radio button is checked*/
.investor-type-radio input:checked + #custom-radio{
    border:0.5px solid rgba(0, 0, 0, 0);/*hiding the border*/
    outline:3.5px solid blue;
    outline-offset:-3.5px;
}

/*When the custom radio button is on focus*/
#custom-radio-focus{
    width:15px;
    height:15px;
    border:2px solid rgba(0, 0, 0, 0.753);
    position:absolute;
    border-radius:2px;
    left:-2px;
    top:2px;
    opacity:0;
}


/*Radio buttons*/
.investor-type-radio{
    display:flex;
    flex-direction:row;
    justify-content:space-between;
}

.investor-type-radio span{
    font-size: 0.5rem;
    font-size: clamp(0.5rem, 0.44rem + 0.30000000000000004vw, 0.8rem);;
}

.investor-type-radio img{
    opacity: 0.4;
}

.investor-type-radio input:focus ~ #custom-radio-focus{
    opacity:1;
}

.investor-type-radio label:hover{
    cursor:pointer;
}

/*a cool slide that pops up containing the definitions about investor types*/
.investor-type-radio{
    margin-bottom:6em;/*So that there is a place for a slide to pop up*/
}

.info-image-wrapper{
    display:inline-block;
}

.info-image-wrapper img{
    position:absolute;
    right:-0.5em;
    top:0.4em;

}

 
.info-image-wrapper::after{
    content:attr(data-info);
    color:#AFAFAF;
    box-shadow:0 0 3px 3px #EEEEEE;
    font-size: 0.5rem;
    font-size: clamp(0.5rem, 0.47rem + 0.15000000000000002vw, 0.65rem);
    position:absolute;
    white-space:wrap;
    border-radius:5px; 
    left:0;
    top:3em;
    padding:0.4em 0.5em;
    min-width:6rem;
    height:auto;
    opacity:0;
    transform:scale(0);
}

.investor-type-radio input:hover ~ .info-image-wrapper::after{
    opacity:1;
    transform:scale(1);
}

.investor-type-radio div:last-child .info-image-wrapper::after{
    left:-6em;
}

/*terms */
.terms-agreement{
    width:100%;
    color:#AFAFAF;
    font-size: 0.5rem;
    font-size: clamp(0.5rem, 0.47rem + 0.15000000000000002vw, 0.65rem);
    opacity:0.8;
    position:relative;
    padding-left:1.5rem;
}

.terms-agreement input{
    position:absolute;
    top:-0.2em;
    left:-0.25em;
}

.terms-agreement a{
    color:#3698FB;
}

/*Create account button*/
#button{
    padding:0.7em 2.5em;
    background-color:#3698FB;
    border-radius:3px;
    font-size: 0.5rem;
    font-size: clamp(0.5rem, 0.44rem + 0.30000000000000004vw, 0.8rem);
    color:white;
    border:none;
    position:absolute;
    left:0;
    bottom:0;
}

#button:hover{
    cursor:pointer
}

/*Media queries for responsive design*/
@media(min-width:1750px){
    .registration-info-container{
        min-height:500px;
    }
}

@media(max-width:1185px){
    .page-container{
        width:60%;
    }

    .aside-image{
       display:none
    }

    .account-registration-container{
        width:100%;
        height:auto;
    }
}

@media(max-width:600px){
    
    .registration-info-container{
        min-height:400px;
        min-width:350px;
        gap:1rem;
    }
}

@media(orientation:landscape){
    body,html{
        overflow:scroll;
    }
}


